
    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <h2 class="text-center">About</h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p>Hello! My name is Maria Contractor and I am a Data Science student at the University of Central Florida. I have a passion for data science and the ways that we can spread awareness about different social issues through technology!</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p>I am also passionate about playing tennis and Bollywood dancing! I love to spend my free time volunteering at local organizations or baking!</p>
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <a href="https://drive.google.com/file/d/1p2Vvug7uX9ZVV_uf8m60Y8YKgpM3Laye/view?usp=share_link" target="_blank" class="btn btn-lg btn-outline">
              <i class="fa fa-download"></i>
              My Resume!
            </a>
          </div>
        </div>
      </div>
    </section>
